.chatScroll {
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.chatScroll::-webkit-scrollbar{
    background-color: none;
    border-radius: 30px;
    width: 5px;
    margin-right: -5px;
}

.chatScroll::-webkit-scrollbar-thumb{
    background-color: #181F25;
    border-radius: 30px;
}